#root {
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
}

.app {
  text-align: center;
  margin: 0 auto;
}

.main-img {
  text-align: center;
  cursor: pointer;
}

.book-main {
  border-radius: 15px;
  width: 35%;
}

.main-btn {
  background-color: #F0F0F0;
  color: black;
}

.main-quotes {
  font-size: 18px;
  width: 35%;
  margin: 1em auto;
  background-color: #F0F0F0;
  color: black;
  padding: 0.5em 1em;
  border-radius: 15px;
}

/* navbar */
ul {
  display: flex;
  flex-direction: row-reverse;
}

li {
  list-style: none;
  margin-right: 3rem;
  cursor: pointer;
}

.navebar__menu {
  display: flex;
  flex-direction: row;
}

.main-form__div {
  width: 35%;
  cursor: pointer;
  margin-top: 20px;
  margin: 0 auto;
}
  
.main-form {
  display: flex;
  flex-direction: column;
}

.book-list {
  width: 100%;
  height: fit-content;
  background-color: beige;
  color: black;
  border-radius: 15px;
}

.line {
  width: 95%;
  height: 1px;
  background-color: gray;
  margin: 0 auto;
}

/* find book */
.findbook__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

/* Archive */
.archive {

}

.book-frame {
  cursor: pointer;
}

.book-img {
  width: 200px;
}

.book-content {
  width: 30%;
  height: 200px;
  background-color: lightgray;
  padding: 15px 20px;
  color: black;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 1rem;
  cursor: pointer;
}

.google-books {
  background-color: #F0F0F0;
}