.navbar {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    cursor: pointer;
}

li {
    list-style: none;
    margin-right: 3rem;
}

.navebar__menu {
    display: flex;
    flex-direction: row;
}